<div class="container">
    <hr class="footer-divider">
    <footer class="clear-fix" >
    <div class="container" style="background-color:#FFA07A;">
      <div class="row">
        <div class="col-sm-2">
          <div class="footer-links">
            <div class="footer-header-bottom-margin"><h5>COMPANY INFORMATION</h5></div>
            <ul class="list-unstyled">
              <li><a href="#">About Pepperfly</a></li>
              
              <li><a href="#">Customer Speak</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="footer-links">
            <div class="footer-header-bottom-margin"><h5>Shop @ Pepperfly</h5></div>
            <ul class="list-unstyled">
              <li><a href="#">Shop By Category</a></li>
              <li><a href="#">Shop By Manufacturer</a></li>
              <li><a href="#">Offers</a></li>
              <li><a href="#">Returns/Refunds</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
            <div class="footer-header-bottom-margin"><h5>YOUR Pepperfly ACCOUNT</h5></div>
            <ul class="list-unstyled">
              <li><a href="customer_registration.php">Register at Pepperfly</a></li>
              <li><a href="#">Track Your Order</a></li>
              <li><a href="#">Check Your Reward Points</a></li>
              
            </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
            <div class="footer-header-bottom-margin"><h5>Get in touch</h5></div>
            <ul class="list-unstyled list-inline">
              <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
              <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-links text-center">
            <a href="#"><h5>News Letter</h5></a>
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="email"  placeholder="email" >
                <br/>
                <br/>
                <a href="#"><input   value="subscribe" type="button" class="btn btn-success btn-lg"></a>
              </div>
            </div>
            <br/>
            
                <ul class="list-unstyled list-unstyled">
                
            </ul>
            </div>
        </div>
      </div>
    </div>
</footer>
<div class="panel-footer" id="panel-footer"><center>Copyright and maintained by Pepperfly&copy;2018</center></div>
  </div>